name: Publish Dry Run

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  publish-dry-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24'

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm -w build

      - name: Dry-run publish base config
        run: pnpm publish packages/eslint-config-base --publish-branch main --tag test-oidc --registry https://registry.npmjs.org/ --no-git-checks --dry-run
        env:
          NPM_CONFIG_PROVENANCE: true

      - name: Dry-run publish react config
        run: pnpm publish packages/eslint-config-react --publish-branch main --tag test-oidc --registry https://registry.npmjs.org/ --no-git-checks --dry-run
        env:
          NPM_CONFIG_PROVENANCE: true
